DOMAIN=gold-digger.ru
ACME_EMAIL=you@example.com
APP_URL=https://gold-digger.ru

TOKEN=
BOT_USERNAME=
BOT_WEBAPP_SHORT_NAME=

DB_USER=gold_digger
DB_PASSWORD=
DB_DATABASE=gold_digger
DB_HOST=localhost
DB_PORT=5432

REFERRAL_GOLD_QTY=500
