@import "./styles/ui.css";

:root {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-black: #26272d;
  --color-white: #dad6be;
  --color-red: #ff1b1c;
  --color-blue: #01BAEF;
  --color-orange: #FACC15;
  --color-green: #4ade80;
  --color-brown: #8B5E3C;
  background-color: white;
}
